@{
    ViewData["Title"] = "Home Page";
}

@model (List<CategoriesWithCountViewModel>,List<MiniPostViewModel>)

<div class="row">
    <div class="leftcolumn">

       @await Component.InvokeAsync("PostList")

    </div>
    <div class="rightcolumn">
        <div class="card">
            <h2>Kategoriler</h2>
            <div>
                <ul class="list-group">
                    @foreach (var item in Model.Item1)
                    {
                         <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a  asp-controller="Blog" asp-action="Index" asp-route-id="@item.Id">@item.Title</a>
                        <span class="badge alert-success">@item.PostCount</span>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="card">
            <h3>Son Gönderiler</h3>
            <div class="list-group">
               

                 @foreach (var item in Model.Item2)
                    {
                      
                         
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><a  asp-controller="Blog" asp-action="Post" asp-route-id="@item.Id">@item.Title</a></h5>
                    </div>
                    <p class="mb-1">@item.Summary</p>

                    }
        
            </div>
        </div>

    </div>
</div>
